
body{
    background-color: rgb(200, 200, 180);
    margin-left: 180px;
}
.mainContain{
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: 600px 100px;
    margin: 10px;
}
/* paymnet container */
.paymentContainer{
  
    box-sizing: border-box;
    grid-row: 1/3;
    /* grid-column: 1/3; */
    background-color:#ffff;
    margin-right: 10px;
    border-radius: 35px;
}
.paymentContainer > h1{
    margin: 50px auto 0px 20px;
}
.paymentContainer > p{
    margin-left: 20px;
}
hr{
    width: 40px;
    width: 319px;
    position: relative;
    left: -14px;
}
.paymentDataContainer{
    background-color: aliceblue;
    padding-left: 20px;
    padding-top: 10px;

}
.flexcontainer{
    display: grid;
    grid-template-columns: 89px 94px;
    grid-template-rows: 56px 59px;
    

}
.flexcontainer P{
    
    /* margin: 0; */
}

.cardNumber{
    width: 80%;
    height: 40px;
    margin: 0 0 20px 27px;
    border-radius: 14px;
}
.cardData >h3{
    margin-left: 29px;
    margin-top: 38px;
}
.date{
    width: 38%;
    height: 40px;
    border-radius: 10px;
    margin: 0px 0px 15px 29px;
    background-color: aliceblue;

}
.cvv{
    width: 38%;
    height: 40px;
    border-radius: 10px;
    background-color: aliceblue;
}

.makePayment{
    width: 80%;
    margin-left: 29px;
    margin-top: 20px;
    height: 43px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffff;
    background-color: rgb(81, 81, 251);
    border: none;
}
.makePayment:hover{
    background-color: rgb(182, 182, 232);
    color: black;
}

/* remove container */
.removeContainer{
    
    box-sizing: border-box;
    position: relative;
    top: -249px;
    width: 250px;
    height: 250px;
    background-color: #ffff;
    border-radius: 20px;
}
.removeContainer >h2{
    padding-left: 21px;
}
.removeContainer >p{
    color: gray;
    padding-left: 21px;
}
.removeContainer {

}
.confirmButton{
    width: 170px;
    margin-left: 34px;
    height: 43px;
    margin-bottom: 5px;
    color: #ffff;
    background-color: rgb(131, 47, 34);
    border-radius: 8px;
    cursor: pointer;
    border: none;

}
.backButton{
    width: 170px;
    margin-left: 34px;
    border-radius: 8px;
    height: 43px;
    color: black;
    border: none;
    cursor: pointer;
    background-color: #ffff;
}
.backButton:hover{
    background-color: gray;
}







/* invoice container */
.invoiceContainer{
    box-sizing: border-box;
    /* grid-column: 1/1; */
    height: 250px;
    width: 400px;
    
    background-color: #ffff;
    /* grid-row: 0.1/1; */
    border-radius: 31px;
}
.invoicetag >h1{
  
    box-sizing: border-box;
    display: inline-block;
    margin-left: 19px;
}
.invoicetag >p{
 
    box-sizing: border-box;
    display: inline-block;

    float: right;
    padding-right: 16px;
    padding-top: 13px;
}
.primeFee{
    background-color: aliceblue;
}
.primenbertag p{

    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0 0 19px;
}
.primenbertag p:last-child{
    margin-right: 50px;
    float: right;
}

.feetag p{

    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0 0 19px;
}
.feetag p:last-child{
    margin-right: 50px;
    float: right;
}
.totalTag p{
    box-sizing: border-box;
    display: inline-block;
    margin-left: 19px;
}

.totalTag h2{
    box-sizing: border-box;
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.susecssContainer{
    box-sizing: border-box;
    width: 258px;
    height: 258px;
    position: relative;
    top: -406px;
 
    left: 700px;
    border-radius: 26px;
    background-color: rgb(107, 162, 107);
}
#icon-sucess{
    color: #ffff;
    position: relative;
    top: 49px;
    left: 82px;
}
.susecssContainer >h1{
   color: #ffff;
    padding-left: 77px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.susecssContainer >p{
    color: #ffff;
     padding-left: 32px;
     margin: 0;
 }



